.banner {
  margin-top: 2rem;
  padding: 1rem;
  background: url("/kasuka/imgs/cta-bg.jpg");
  height: 40vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.451);
    position: absolute;
    top: 0;
    right: 0;
  }
  &-title {
    z-index: 999;
    font-size: 24px;
    font-weight: bold;
  }
  &-text{
    z-index: 999;
    width: 89%;
  }
  &-btn {
    padding: 0.6rem 2rem;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    z-index: 999;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    &:hover
    {
        color: black;
        background-color: rgb(254, 186, 0);
    }
  }
}

@media screen and (max-width: 800px) {
.banner {
  gap: 1rem;
  &-text {
    font-size: 14px;
  }
}
}