.section-label {
  color: rgb(160, 160, 160);
  position: relative;
  width: max-content;
  display: block;
  margin: 1rem 0;
  margin-right: 1rem !important;
  &::before {
    content: "";
    width: 100px;
    height: 1px;
    position: absolute;
    right: 105%;
    margin-right: 0.3rem;
    background: rgb(288, 208, 0);
    top: 50%;
  }
}
.section-title {
  font-size: 36px;
  font-weight: bold;
  display: block;
  margin-right: 1rem;
}
